.adminPage {
    padding: 2rem;
}

.top {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 30rem;
    background-color: #24252A;
    border-radius: 1rem;
    padding: 1rem;
}

.users {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #24252A;
    overflow-y: auto;
    gap: .5rem;
}

.activeBttn {
    position: sticky;
    top: 0;
    border-style: none;
    border-radius: 1rem;
    font-family: "Fasthand", sans-serif;
    color: white;
    background-color: #FCC68F;
    width: 30%;
    font-size: min(4vw, 2rem);
    transition: all 0.3s ease;
}

.activeBttn:hover {
    background-color: #329885;
    transition: all 0.3s ease;
}

.activeBttnClcked {
    background-color: #1b4e45;
    color: white;
}

.orders {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}