.adminPage {
    padding: 2rem;
}

.topTitles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    width: 100%;
    text-align: center;
    color: white;
}

.title {
    font-family: "Fasthand", sans-serif;
    font-size: min(6vw, 4rem);
    background-color: #24252A;
    height: 5rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.top {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 30rem;
    background-color: #24252A;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1rem;
}

.users {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #24252A;
    overflow-y: auto;
    gap: .5rem;
    padding: 1rem;
}

.activeBttn {
    border-style: none;
    border-radius: 1rem;
    font-family: "Fasthand", sans-serif;
    color: white;
    background-color: #FCC68F;
    width: 30%;
    font-size: min(4vw, 2rem);
    transition: all 0.3s ease;
}

.activeBttn:hover {
    background-color: #329885;
    transition: all 0.3s ease;
}

.activeBttnClcked {
    background-color: #1b4e45;
    color: white;
}

.activeBttnBG {
    position: sticky;
    top: -1rem;
    background-color: #24252A;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 1rem;
}

.orders {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}