.box {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    color: #24252A;
    font-size: min(5vw, 1.2rem);
    background-color: #FCC68F;
    padding: .3rem;
    border-radius: .5rem;
}

#orderNum {
    white-space: nowrap;
}

#date {
    margin-left: auto;
}

#delivery {
    grid-column: 2/-1;
    margin-left: auto;
}

.box > p {
    text-align:start;
}

.items {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    background-color: #444444;
    color: white;
    grid-column: 1/-1;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 5rem;
    overflow-y: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.items > span {
    white-space: nowrap;
}