.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.splashHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    font-family: "Optima", sans-serif;
    font-size: min(4vw, 3rem);
}

.productSplash {
    display: flex;
    max-width: 70%;
    gap: .5rem;
    flex-direction: column;
    background-color: #24252A;
    padding: 1rem;
    padding-top: 0;
    border-radius: 1rem;
}

.lightBttn {
    border-style: none;
    border-radius: 1rem;
    font-family: "Optima", sans-serif;
    color: white;
    background-color: #FCC68F;
    width: 10%;
    font-size: min(4vw, 2rem);
    align-self: flex-end;
    transition: all 0.3s ease;
}

.lightBttn:hover {
    background-color: #329885;
    transition: all 0.3s ease;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
}


.inputs > input {
    height: 2rem;
}


.inputs > p {
    color: red;
    font-family: "Optima", sans-serif;
    font-size: min(4vw, 2rem);
    white-space: nowrap;
    align-self: flex-end;
    grid-column: 3/-1;
    margin-left: 1rem;
}

.desc {
    grid-column: -1/1;
    height: 100%;
}

.name {
    grid-column: -1/1;
    height: 100%;
}

.img {
    grid-column: -1/1;
    height: 100%;
}

.saleHolder {
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.sale {
    height: 50%;
    width: 50%;
    grid-column: 1/2;
}

.discount {
    height: 50%;
    align-self: center;
}

#saleText {
    color: white;
    font-family: "Optima", sans-serif;
    font-size: min(4vw, 2rem);
}

#tagsTitle {
    display: flex;
    align-items: center;
    color: white;
    grid-row: 6/7;
    grid-column: 1/-1;
    font-size: min(4vw, 2rem);
    font-family: "Optima", sans-serif;
}

#tagsTitle > p {
    margin-right: 1rem;
}

#tagsTitle > input {
    height: 2rem;
}

.addTag {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Optima", sans-serif;
    width: 10%;
    height: 2rem;
    color: white;
    background-color: #FCC68F;
    font-size: min(4vw, 3rem);
    transition: all 0.3s ease;
    text-align: center;
}

.addTag:hover {
    background-color: #329885;
    transition: all 0.3s ease;
}

.tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .3rem;
    max-width: 100%;
    grid-row: 7/8;
    grid-column: 1/-1;
    margin-bottom: 1rem;
}

#submit {
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-row: 8/9;
}

#delete {
    width: fit-content;
    grid-column: 4/-1;
    justify-self: end;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-row: 8/9;
}

.disabled {
    color: white;
    background-color: gray;
    transition: all 0.3s ease;
}

.disabled:hover{
    background-color: gray;
}