.tag {
    display: flex;
    gap: .3rem;
    background-color: #329885;
    border-radius: 1rem;
    width: fit-content;
    align-items: center;
    justify-content: space-around;
    font-size: min(3vw, 1.3rem);
    color: white;
    padding: .4rem;
}

.tag > button {
    background-color: #329885;
    border-style: none;
    color: #329885;
    transition: all 0.3s ease;
}

.tag:hover > button {
    color: white;
    transition: all 0.3s ease;
}