.userbox {
    background-color: #FCC68F;
    color: #24252A;
    display: grid;
    grid-template-columns: 4fr 2fr;
    align-items: center;
    padding-left: 1rem;
    font-family: "Optima", sans-serif;
    font-size: 100%;
    border-radius: 1rem;
    transition: all 0.3s ease;
}

.userbox:hover {
    background-color: #329885;
    color: white;
    transition: all 0.3s ease;
}

.selected {
    background-color: #1b4e45;
    color: white;
}

.promoteBttn {
    border-style: none;
    border-radius: 1rem;
    font-family: "Optima", sans-serif;
    color: white;
    background-color: #24252A;
    width: fit-content;
    font-size: min(4vw, 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

.promoteBttn:hover {
    background-color: #FCC68F;
    transition: all 0.3s ease;
}