.cartItems {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

.cartItem {
	padding-top: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    align-items: center;
    margin-left: 1.3rem;
}

.cartItem > img {
    width: 83%;
    height: 95%;
}

.descriptText {
	font-family: "Optima", sans-serif;
    font-size: 1.1rem;
}

.price {
	font-family: "Optima", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    white-space: nowrap;
}

.countHandler {
    white-space: nowrap;
    margin-left: 1.2rem;
	
}

.countHandler > *{
	font-weight: bold;
    text-align: center;
	width: 1.6rem;
	height: 1.5rem;
    color: white;
    background-color: #24252A;
	border-radius: .2rem;
}

.countHandler > button {
    text-align: center;
    padding-left: .3rem;
    padding-right: .3rem;
    transition: all 0.3s ease;
}

.countHandler > button:hover {
    background-color: #329885;
    transition: all 0.3s ease;
}

.countHandler > input {
    width: 3rem;
	height: 1.5rem;
}