.cartItems {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

.cartItem {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .3rem;
    align-items: center;
    margin-left: 1rem;
}

.cartItem > img {
    width: 83%;
    height: 90%;
}

.descriptText {
    font-size: clamp(.75rem, 1rem, 1.2rem);
}

.price {
    font-weight: bold;
    font-size: clamp(.7rem, 1.5rem, 2rem);
    white-space: nowrap;
}

.countHandler {
    white-space: nowrap;
    margin-left: .1rem;
}

.countHandler > *{
    text-align: center;
    width: 20px;
    color: white;
    background-color: #24252A;
}

.countHandler > button {
    text-align: center;
    padding-left: .3rem;
    padding-right: .3rem;
    transition: all 0.3s ease;
    /* border-style: none; */
}

.countHandler > button:hover {
    background-color: #329885;
    transition: all 0.3s ease;
}

.countHandler > input {
    width: 2rem;
}