@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
.checkout-cart {
    width: 100%;
    height: 41.5rem;
    padding-top: 1rem;
    background-color: #FCC68F;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.checkout{
    font-family: "Fasthand", sans-serif;
    font-size: 1.7rem;
    color: white;
    background-color: #24252A;
    width: 100%;
    align-self: flex-start;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.cart-bttn {
    font-family: "Fasthand", sans-serif;
    font-size: 1.5rem;
    border-radius: 1rem;
    border-style: none;
    color: white;
    padding: .2rem .6rem .2rem .2rem;
    background-color: #FCC68F;
}

.cart-bttn:hover {
    background-color: #329885;
    transition: background-color 0.3s ease;
}

.checkout-bttn {
    margin-right: .5rem;
}

    .cart-items {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;
    }

    .cart-item {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: .7rem;
        align-items: center;
        margin-left: 1rem;
    }
    
    .cart-item > img {
        width: 100%;
        height: 100%;
    }

    .descript-text {
        font-size: clamp(.75rem, 1rem, 2rem);
    }
    
    .price {
        font-weight: bold;
        font-size: clamp(.75rem, 2rem, 2.2rem);
    }

    .countHandler {
        white-space: nowrap;
    }

    .countHandler > *{
        width:fit-content;
        color: white;
        background-color: #24252A;
    }

    .countHandler > button {
        padding-left: .3rem;
        padding-right: .3rem;
    }

    .countHandler > input {
        width: 2rem;
    }
