
.checkoutPage {
    display: grid;
    grid-template-columns: 6fr 4fr;
}

.orderPanel {
    font-family: "Fasthand", sans-serif;
    padding-right: 2rem;
    padding-left: 2rem;
    overflow-y: auto;
    height: 85vh;
}

.orderPanel > p{
    font-size: clamp(3rem, 4rem, 5rem);
    margin-top: -2rem;
}

.orderPanel > img {
    width: 33%;
    height: 33%;
    margin-left: 33%;
}

.orderPanelHeader {
    display: grid;
    grid-template-columns: 12fr 1fr 1fr;
    align-items: center;
    margin-top: -2rem;
}

.orderPanelHeader > h1 {
    font-size: 4.5rem;
    margin-right: auto;
}

.orderPanelHeader > p {
    white-space: nowrap;
    font-size: 2rem;
    margin-right: 1rem;
}

.orderPanelHeader > input {
    width: 2rem;
    height: 2rem;
}

.account {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.loginPrompt {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.loginPrompt > input {
    width: 2rem;
    height: 2rem;
}

.email {
    align-self: center;
    width: 100%;
    margin-top: 1rem;
    height: 3rem;
    font-size: 3rem;
    border-style: solid;
}

.email::placeholder {
    color: gray;
    font-family: sans-serif;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 1rem;
    transform: translateY(-15%);
}

.sub {
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.sub > p {
    white-space: nowrap;
}

.sub .shipTitle {
    margin-right: auto;
}

.sub > input {
    width: 2rem;
    height: 2rem;
}

.shippingInputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.shippingInputs p {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    font-size: 2rem;
}

.shippingInputs input {
    height: 3rem;
    width: 100%;
    font-size: 2rem;
    border-color: gray;
    border-style: solid;
}

.shippingInputs input::placeholder{
    color: gray;
    font-family: sans-serif;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 1rem;
}

.country {
    grid-column: 1 / -1;
}

.streetAdd {
    grid-column: 1 / -1;
}

.separator {
    height: 2px;
    border: 2px solid #329885;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}