.loginSplash {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 35%;
    left: 31%;
    width: 20%;
    background-color: #FCC68F;
    border: .3rem solid #24252A;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    animation: fadeIn 0.2s linear;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
    
}

.inputs > input {
    height: 2.5rem;
    width: 100%;
}

.error > p {
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.bttns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.4rem;
    align-items: center;
}

.bttns > button {
    background-color: #24252A;
    font-family: "Optima", sans-serif;
    border-style: none;
    color: white;
    padding: .2rem;
    border-radius: .6rem;
    transition: all 0.3s ease;
}

.bttns > button:hover {
    background-color: #329885;
}

.createBttn {
    font-size: 1.4rem;
    white-space: nowrap;
    width: 70%;
}

.loginBttn {
    font-size: 1.5rem;
    width: 45%;
    background-color: yellow;
}
