
.checkoutPage {
    display: grid;
    grid-template-columns: 6fr 3fr;
}

.orderPanel {
    font-family: "Optima", sans-serif;
    overflow-y: auto;
    height: 85vh;
    padding-left: 10rem;
    padding-right: 10rem;
}

.orderPanel > p{
    font-size: clamp(3rem, 4rem, 5rem);
    margin-top: -2rem;
}

.orderPanel > img {
    width: 33%;
    height: 33%;
    margin-left: 33%;
}

.orderPanelHeader {
    display: grid;
    grid-template-columns: 12fr 1fr 1fr;
    margin-top: -2rem;
}

.orderPanelHeader > h1 {
    font-size: 4.5rem;
    margin-right: auto;
    white-space: nowrap;
}

.orderPanelHeader > p {
    white-space: nowrap;
    font-size: 2rem;
    margin-right: 1rem;
}

.orderPanelHeader > input {
    width: 2rem;
    height: 2rem;
}

.account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
}

.account > h2{
	padding-left: 9%;
}

.loginPrompt {
    font-size: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
}

.loginBttn {
    text-decoration: underline;
    transition: all 0.3s ease;
    color: #242424;
    border-radius: 1rem;
    width: 100px;
}

.loginBttn:hover {
    color: #329885;
    transition: all 0.3s ease;
}

.email {
    align-self: center;
    width: 100%;
    margin-top: 1rem;
    height: 2rem;
    font-size: 1rem;
}

.email::placeholder {
    font-family: "Optima", sans-serif;
    font-size: 1rem;
    text-align: left;
    padding-left: 1rem;
    transform: translateY(15%);
}

.sub {
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.sub > p {
    white-space: nowrap;
}

.sub .shipTitle {
    margin-right: auto;
	font-size: 2rem;
}

.sub > input {
    width: 1.6rem;
    height: 2rem;
}

.shippingInputs {
	padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.shippingInputs p {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    font-size: 2rem;
}

.shippingInputs input {
	height: 2rem;
    width: 100%;
    font-size: 1rem;
}

.shippingInputs input::placeholder{
    font-family: "Optima", sans-serif;
    font-size: 1rem;
    text-align: left;
    padding-left: 1rem;
}

.country {
    grid-column: 1 / -1;
}

.streetAdd {
    grid-column: 1 / -1;
}

.separator {
    height: 2px;
    border: 2px solid #329885;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.discount {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.discountTitle {
    font-size: 2rem;
    grid-column: 1/-1;
    margin-bottom: 1rem;
}

.discountText {
    grid-column: 1/-1;
    height: 2rem;
    text-indent: 1rem;
    border-style: solid;
}

.good {
    border-color: green;
    outline: green;
}

.bad {
    border-color: red;
    outline: red;
}

.discountMessage {
    color: gray;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
}

.ccInputs {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.ccInputs > p {
    font-size: 2rem;
    grid-column: -1/1;
}

.ccInputs > input {
    height: 2rem;
}

.ccInputs > input::placeholder {
    padding-left: 1rem;
}

.ccNum {
    grid-column: -1/1;
}