.loading {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: "Optima", sans-serif;
    font-size: 2rem;
    color: gray;
    margin-top: 10%;
}

.shop {
    display: flex;
}

.searchsort {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 15vh;
    left: 0;
    width: 100%;
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 5px;
    border-radius: 15px;
}

.saleBttn {
	font-family: "Optima", sans-serif;
    border-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: white;
    height: 2.5rem;
    outline: none;
    border-width: 1px;
    border-color: gray;
    padding-left: .3rem;
    padding-right: .3rem;
    transition: all 0.3s ease;
}

.saleBttn:hover,
.saleBttnActv {
    background-color: #329885;
    font-weight: bold;
    color: white;
    border-color: #FCC68F;
    box-shadow: 0 0 10px 0.2rem #FCC68F;
    transition: all 0.3s ease;
}

.search {
	font-family: "Optima", sans-serif;
    margin-top: 1rem;
    border-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-width: 1px;
    height: 2.5rem;
    width: 20rem;
    text-indent: 5%;
    transition: all 0.3s ease;
}

.search:focus,
.search:hover,
.sort:hover,
.saleBttn:hover,
.ascendBttn:hover {
  outline: none;
  border-color: #FCC68F;
  box-shadow: 0 0 10px 0.2rem #FCC68F;
  transition: all 0.3s ease;
}

.sort {
	font-family: "Optima", sans-serif;
	align-items: center;
    outline: none;
    height: 2.5rem;
	width: 5.5rem;
	padding-left: .3rem;
    padding-right: .3rem;
    border-radius: 0;
    border-width: 1px;
    background-color: white;
    transition: all 0.3s ease;
}

.noAscending {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: all 0.3s ease;
}

.ascendBttn {
	font-family: "Optima", sans-serif;
    outline: none;
    color: black;
	width: 5rem;
	padding-left: .3rem;
    padding-right: .3rem;
    background-color: white;
    border-radius: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: gray;
    border-width: 1px;
    height: 2.5rem;
    transition: all 0.3s ease;
    animation: fadeIn 0.2s linear;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
    
}

.shopContent {
    padding-top: 3rem;
    display:inline;
    width: 100%;
    height: 85vh;
    padding-left: 5%;
    padding-right: 5%;
    overflow-y: auto;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow:dense;
    gap: 20px;
    width: auto;
    height: auto;
}

.addToCartBttn {
    background-color: transparent;
    font-size: 15px;
    color: black;
    border: 2px solid black;
    min-width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}

.addToCartBttn:hover {
    background-color: rgb(255, 127, 127);
    color: white;
    cursor: pointer;
}