.cartItems {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

.cartItem {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .2rem;
    align-items: center;
    margin-left: 1.2rem;
}

.cartItem > img {
    width: 85%;
    height: 90%;
}

.descriptText {
	font-family: "Optima", sans-serif;
	font-size: 1.1rem;
}

.price {
    font-weight: bold;
    font-size: 1.5rem;
    white-space: nowrap;
}

.countHandler {
    white-space: nowrap;
    margin-left: .8rem;
}

.countHandler > *{
    text-align: center;
    width: 22px;
    color: white;
    background-color: #24252A;
}

.countHandler > button {
    text-align: center;
    padding-left: .2rem;
    padding-right: .2rem;
    transition: all 0.3s ease;
	font-size: 1rem;
	font-weight: bold;
}

.countHandler > button:hover {
    background-color: #329885;
    transition: all 0.3s ease;
}

.countHandler > input {
    width: 2.3rem;
	font-size: 1rem;
}