.cart {
    height: 100%;
    width: 30%;
    background-color: bisque;
    position: fixed;
    right: 0;
    display: flex;
    overflow-y: auto;
}

.x-bttn {
    position: absolute;
    border-color: rgb(0, 0, 0);
    border-style: none;
    font-size: 450%;
    text-align: center;
    align-items: center;
    top: 0;
    right: 0;
    height: 10%;
    width: 20%;
}

.x-bttn:hover {
    border-style: solid;
}

.checkout{
    clear: right;
}

.empty {
    position: relative;
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
}