* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pageLink, .navBttn {
    font-family: "Optima", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.navbar {
    display: flex;
    position: sticky;
    justify-content: flex-start;
    align-items: center;
    height: 15vh;
    z-index: 100;
    top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #24252A;
    box-shadow: 0px 5px 5px black;
}

.logo {
    height: 15vh;
    cursor: pointer;
}

.logoCheckout {
    height: 15vh;
    cursor: default;
    margin-left: auto;
    margin-right: auto;
}

.pageLink:hover {
    transition: all 0.3s ease 0s;
    color:#329885;
}

.navBttn {
    padding:0px 28px;
    margin-right: 1rem;
    background-color: #FCC68F;
    border: none;
    border-radius: .7rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navBttn:hover {
    background-color: #329885;
}

.rightWrapperNav {
    margin-left: auto;
    white-space: nowrap;
}

.cartComp {
    padding-top: 18%;
}