
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pageLink, .navBttn {
    font-family: "Fasthand", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: white;
    text-decoration: none;
}

.navbar {
    position: sticky;
    height: 15vh;
    z-index: 100;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1% 0% 1% 2%;
    background-color: #24252A;
}

.nav {
    padding-left: 18%;
    padding-right: 25%;
}

.logo {
    width:120%;
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color:#329885;
}

.navBttn {
    padding:9px 25px;
    background-color: #FCC68F;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navBttn:hover {
    background-color: #329885;
}

.rightWrapperNav {
    margin-left: auto;
}

.navBttn .loginButton, .cartButton {
    margin: 3px;
}

.cartComp {
    padding-top: 20%;
}