@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, .nav-bttn {
    font-family: "Fasthand", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1% 0% 1% 2%;
    background-color: #24252A;
}

nav {
    padding-left: 18%;
    padding-right: 25%;
}

.logo {
    width:15%;
    height:15%;
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color:rgb(255, 127, 127);
}

.nav-bttn {
    padding:9px 25px;
    background-color: rgb(224, 161, 26);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav-bttn:hover {
    background-color: rgb(255, 127, 127);
}

.right-wrapper-nav {
    margin-left: auto;
}

.nav-bttn .login-button, .cart-button {
    margin: 3px;
}

.cart-comp {
    padding-top: 20%;
}