.accPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    height: 85vh;
    overflow-y: auto;
}


.tabBttns {
    display: flex;
    width: 100%;
    justify-content: center;
}

.tabBttns > button:hover {
    background-color: #236b5e;
    transition: all 0.3s ease;
}

.tabBttns > button {
    font-family: "Fasthand", sans-serif;
    /* font-size: clamp(1.6rem, 3vw, 4rem); */
    font-size: 4rem;
    background-color: #24252A;
    flex: 1;
    border-style: none;
    color: white;
}

.orderBttn {
    border-top-right-radius: 2rem;
}

.shipBttn {
    border-top-left-radius: 2rem;
}

.tabs {
    color: white;
    background-color: #24252A;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-style: none;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-size: 2.5rem;
    padding: 2rem;
}

.tabOrders {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* .tabOrders > ul{
    list-style: none;;
} */

.tabShippingInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    height: fit-content;
}

.tabShippingInfo > p {
    font-family: "Fasthand", sans-serif;
    grid-column: 1 / -1;
}

.accInfo {
    grid-column: -1/1;
    display: flex;
    align-items: baseline;
    gap: 2rem;
    flex-direction: row;
    align-self: flex-start;
    margin-top: 1rem;
    padding-left: 1rem;
    font-family: "Fasthand", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    width: 100%;
}

.accEmail {
    margin-top: -2rem;
}

.deleteBttn {
    border-radius: 1rem;
    border-style: none;
    background-color: #FCC68F;
    color: white;
    height: 4rem;
    width: 17%;
    height: 30%;
    font-family: "Fasthand", sans-serif;
    font-size: clamp(1rem, 2vw, 2rem);
    white-space: nowrap;
    padding-right: .5rem;
    transition: all 0.3s ease;
}

.deleteBttn:hover {
    background-color: #329885;
    transition: all 0.3s ease;
}

.country {
    grid-column: 1 / -1;
}

.streetAdd {
    grid-column: 1 / -1;
}

.tabShippingInfo > input {
    height: 2rem;
    width: 100%;
    font-size: 1rem;
}

.tabShippingInfo > input::placeholder {
    font-size: 1rem;
}

.updateBttn {
    border-radius: 1rem;
    border-style: none;
    background-color: #FCC68F;
    color: white;
    height: 3.3rem;
    width: 35%;
    font-family: "Fasthand", sans-serif;
    font-size: 2rem;
    transition: all 0.3s ease;
    text-align: center;
}

.updateBttn:hover {
    background-color: #329885;
    transition: all 0.3s ease;
}

.separator {
    height: 2px;
    border: 2px solid #329885;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}